*, *::after, *::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{ font-size: 62.5%; }
body{ font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif; }

main {
	display: flex;
	text-align: center;
	height: 100vh;
}

main > section{
	border-right: 2px solid rgba(0, 0, 0, 0.3);
	flex-basis: 100%;
	height: 100%;
}
.html{ border-bottom: 2px solid rgba(0, 0, 0, 0.3); }
.html, .css{
	height: 50%;
	outline: none;
}

@media screen and (max-width: 768px){
	main{ flex-direction: column; }
	.html{
		height: 100%;
		border-top: 2px solid rgba(0, 0, 0, 0.3);
		border-bottom: none;
	}
	.css{ display: none; }
}
